doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
  style 
    include style.css
    title アンケート一覧
  body
      h1 アンケート一覧
      ul 
        li: a(href="/enquetes/yaki-shabu") 焼き肉・しゃぶしゃぶ
        li: a(href="/enquetes/rice-bread") ごはん・パン
        li: a(href="/enquetes/sushi-pizza") 寿司・ピザ
        li: a(href="/enquetes/coffee-tea") コーヒー・紅茶
        li: a(href="/enquetes/ice-parfait") アイスクリーム・パフェ




